/* Set font and reset margin & padding to be set */
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a {color: inherit;
}

/* Taper size of logo */
.logo{
    max-height: 25px;
}

/* Format the welcome message */
#welcome-message{
    text-align: center;
    background:transparent;
    position: absolute;
    display: block;
    margin: auto;
    top: 40vh; left: 15%; bottom: 0; right: 15%;
    color: white;
    z-index: 1;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    width:99%
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display:none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-weight: bold;
  }

  .topnav a.links:hover {
      text-decoration: underline;
      color: rgb(83, 83, 83);
      transition-duration: 0.5s;
  }
  
  .topnav a.links {
      text-align: right;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
  }
  
  /* Change hamburger color to black on mouse hover */
  .topnav a.icon:hover {
    color: rgb(83, 83, 83);
    transition-duration: 0.5s;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: transparent;
    color: red;
  }

  /* Creating animated arrow */
  .arrow-down {
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }

  .arrow-down::after {
      content:"";
      width: 40px;
      height: 40px;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: -50vh;
      left: 0;
      border-right: 4px solid #ffff;
      border-bottom: 4px solid #ffff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation: 3s arrow infinite ease;
      animation: 3s arrow infinite ease;
      
  }

  @-webkit-keyframes arrow {
      0%, 100% {
          top: 50px;
      }
      50% {
          top: 80px;
      }
  }

  @keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

#particles-js{
    background-color:#41e4f5;
    height: 100vh;
    z-index: -1;
}

img.portrait {
    border-radius: 50%;
    max-width: 40vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
}

.biography {
    text-align: center;
    position: relative;
    font-size: 17px;
    margin: 0 20%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    margin: 3vh 15% 0 15%;
}

.social{
    flex: 1;
    text-align: center;
    font-size: 15vw;
}

.social i:hover{
    opacity: 0.9;
    transition-duration: 0.3s;
}

#linkedin{
    color: #0077b5;
}

#facebook{
    color: #2d88ff;
}

#twitter{
    color: #1da1f2;
}

.page-3{
background-color: #31debf;
position: relative;
color:white;
height: auto;
}

.p3-title{
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 2vh 20% 0 20%;
    font-size: 25px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5% 0 5% 0;
}

.centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 80%
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.page-3 i{
    font-size: 15vw;
}

.page-3 .centered h2{
    font-size: 20px;
}

#particles2-js{
    background-color:#f8b3ad;
    height: 50vh;
    z-index: -1;
}

hr{
    width: 70%;
    text-align: center;
    height: 0.5vh;
    background-color:white;
    border-width: 0;
}

.hobbies{
    padding: 5% 20% 5% 20%;
}

.about_me{
    text-align: center;
}

.background_box{
    background-color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    
    border-radius: 2vh;
    margin-top: 5vh;
    }

.employment_opener{
    text-align: center;
    margin: 5% 5% 5% 5%;
}

.resume{
    margin: 5% 20% 5% 5%;
}

.phone_number, .e-mail, .CV{
    font-weight: bold;
}





/* Changing website elements based on size of viewport */

@media (min-width: 544px) {
    h1{
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
    .biography {
        font-size: 1.2em;
    }
    .p3-title {
        font-size: 2em;
    }
    .about_me {
        font-size: 1.7em;
    }    
  }

  @media (min-width: 650px) {
    img.portrait {
        max-width: 25vw;
    }  
    .social {
        font-size: 10vw;
    }
    .container {
        margin: 0 25% 0 25%;
    }
    i.fa-desktop, i.fa-gamepad, i.fa-plane {
        font-size: 5em;
    }

  @media (min-width: 898px) {
    .logo {
          max-height: 35px;
    }
    .hobbies{
        padding: 2% 25% 2% 25%;
    }
  }

  @media (min-width: 1337px) {
    i.fa-html5, i.fa-app-store-ios, i.fa-discord, i.fa-java {
        font-size: 8em;
  }
}

@media (min-width: 1566px) {
    h1{
        font-size: 3em;
    }
    img.portrait {
        max-width: 15vw;
    }  
    .social {
    font-size: 5vw;
    }
    .container {
        margin: 0 35% 0 35%;
    }
}

@media (min-width: 1867px) {
    .left_column{
        margin: 0 0 5% 20%;
    }
    .right_column{
        margin: 0 20% 5% 0;
    }
    .column{
        padding-top: 1vh;
        padding-bottom: 0;
    }
}