/* Set font and reset margin & padding to be set */
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a {color: inherit;
}

/* Taper size of logo */
.logo{
    max-height: 25px;
}

/* Format the welcome message */
#welcome-message{
    text-align: center;
    background:transparent;
    position: absolute;
    display: block;
    margin: auto;
    top: 40vh; left: 15%; bottom: 0; right: 15%;
    color: white;
    z-index: 1;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    width:99%
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display:none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-weight: bold;
  }

  .topnav a.links:hover {
      text-decoration: underline;
      color: rgb(83, 83, 83);
      transition-duration: 0.5s;
  }
  
  .topnav a.links {
      text-align: right;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
  }
  
  /* Change hamburger color to black on mouse hover */
  .topnav a.icon:hover {
    color: rgb(83, 83, 83);
    transition-duration: 0.5s;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: transparent;
    color: red;
  }

  /* Creating animated arrow */
  .arrow-down {
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }

  .arrow-down::after {
      content:"";
      width: 40px;
      height: 40px;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: -50vh;
      left: 0;
      border-right: 4px solid #ffff;
      border-bottom: 4px solid #ffff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation: 3s arrow infinite ease;
      animation: 3s arrow infinite ease;
      
  }

  @-webkit-keyframes arrow {
      0%, 100% {
          top: 50px;
      }
      50% {
          top: 80px;
      }
  }

  @keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

#particles-js{
    background-color:#41e4f5;
    height:100vh;
    z-index: -1;
}

img.portrait {
    border-radius: 50%;
    max-width: 40vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
}

.biography {
    text-align: center;
    position: relative;
    padding-top: 5vh;
    font-size: 17px;
    margin: 0 20%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    margin: 3vh 15% 0 15%;
}

.social{
    flex: 1;
    text-align: center;
    font-size: 15vw;
}

.social i:hover{
    opacity: 0.9;
    transition-duration: 0.3s;
}

#linkedin{
    color: #0077b5;
}

#facebook{
    color: #2d88ff;
}

#twitter{
    color: #1da1f2;
}

.page-3{
background-color: #31debf;
position: relative;
color:white;
height: auto;
}

.p3-title{
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 3vh 20% 0 20%;
    font-size: 25px;
}


.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5% 0 5% 0;
}

.centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 80%
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.page-3 i{
    font-size: 15vw;
}

.page-3 .centered h2{
    font-size: 20px;
}

#particles2-js{
    background-color:#f8b3ad;
    height:100vh;
    z-index: -1;
}

#right-scroll{
    margin: 1vh 0 2vh 0;
}

#right-scroll:hover{
    color: rgb(83, 83, 83);
      transition-duration: 0.5s;
}


/* Centering the button IN PROGRESS */
.page-3 button{
    background-color: transparent;
    border: none;
}

hr{
    width:50%;
    text-align:center;
    height: 0.5vh;
    background-color:white;
    border-width: 0;
}

.hobbies{
    padding: 5% 20% 5% 20%;
}